<div class="container">
    <span class="my-5 mx-5">
        <h1> JSON de Respuesta</h1>
    </span>
        <span class="my-5" >        
            <samp>
                {{<br>
                "message": "Aprobada",<br>
                "operation": "",<br>        
                "id": null <br>
                }}
        </samp>      
    </span>      
              
    <div class="col-12">
        <button class="btn btn-danger my-3 mx-3"(click)="regresa()" >Regresar</button>        
        
    </div>
</div>