<div class="jumbotron" style="background-color: black; background-image: url('assets/img/fondo-izquierda.jpeg'), url('assets/img/fondo-derecha.jpeg'); background-position: left top, right top; background-repeat: no-repeat;">
    <div class="container" style="background-color: white;">
      <span>
        <h3> Detalle de compra</h3>&nbsp;&nbsp;<h3 style="color: darkgreen;">Transacción exitosa</h3>

      </span>
    
    <div class="col-12">
        <!-- <span class="text-danger">Título:</span>&nbsp;<span>Aves de Presa (y la Fantabulosa Emancipación de una Harley Quinn)</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Clasificación:</span>&nbsp;<span>B15</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Versión:</span>&nbsp;<span>Español, Tradicional</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Día:</span>&nbsp;<span>Jueves 5 de Marzo</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Horario:</span>&nbsp;<span>02:05 PM</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Cine:</span>&nbsp;<span>Cinemex Centro Telmex</span>
      </div>
      <div class="col-12">
        <span class="text-danger">Sala:</span>&nbsp;<span>6</span>
      </div> -->

      <div class="col-12">
        <span class="text-danger">Numero de referencia:</span>&nbsp;<span>{{takeNumberReference}}</span>
      </div>

      <div class="col-12">
        <span class="text-danger">Total :</span>&nbsp;<span >{{takeAmount}}</span>
      </div>
      

      <div class="col-12">
        <button class="btn btn-danger my-3 mx-3" (click)="regresarPrimerPantalla()">Regresar</button>        
        
        <!-- <button class="btn btn-danger my-3 mx-3 "(click) = "content3" >Respuesta JSON</button>         -->
        <!-- <button class="btn btn-primary" (click) = "ver(content3)">ver  JSON</button>      -->     

        <!-- <button class="btn btn-primary" (click) = "redirecciona()">ver  JSON de respuesta </button>      -->


        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Ver JSON de respuesta
        </button>

      <div id="collapseExample" [ngbCollapse]="isCollapsed" class="my-8">
        <div class="card my-3" >
          <div class="card-body my-3" >
            <h4 style="color: red;">JSON de Respuesta</h4>          
            <pre>{{a}}</pre>
            <pre>{{b}}</pre>
            <pre>{{c}}</pre>
            <pre>{{d}}</pre>
            <pre>{{e}}</pre> 
            <pre>{{f}}</pre>           
            <pre>{{g}}</pre>           
            <pre>{{h}}</pre>           
            <pre>{{i}}</pre>           
            <pre>{{j}}</pre>           
          </div>
        </div>
    </div>
</div>
</div>