<div class="jumbotron" style="background-color: black; background-image: url('assets/img/fondo-izquierda.jpeg'), url('assets/img/fondo-derecha.jpeg'); background-position: left top, right top; background-repeat: no-repeat;">
    <div class="container" style="background-color: white;">
      <span>
        <h3 class="my-3"> Consumo de Servicio y tipos de implementación </h3>&nbsp;&nbsp;<h3 style="color:cornflowerblue;" class="my-3">Version Demo</h3>
        <!-- <h5> Siempre que se tenga a la vista el JSON a enviar, podemos presionar el boton Enviar JSON con el cual inicia el demo</h5> -->
        <h5> Siempre que se envie los parametros del siguiente JSON con los datos correctos usted podra hacer uso de este servicio</h5>

      </span>    
      <div class="col-12">
        <!-- <button class="btn btn-danger my-3 mx-3" (click)="regresarPrimerPantalla()">Regresar</button>         -->        
        <!-- <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          {{valida('')}}
        </button> -->

      <div id="collapseExample" [ngbCollapse]="isCollapsed" class="my-8">
        <div class="container" >
          <div class="card-body my-3" >
            <h4 style="color: red;">JSON a Enviar</h4><br>          
            <pre>{{a}}</pre>
            <pre>{{b}}</pre>
            <pre> "amount": <input type="text" placeholder="180.00" name="amount" [(ngModel)]="amount"></pre>
            <pre>{{d}}</pre>
            <pre>{{e}}</pre>   
            <pre>{{f}}</pre>         
            <pre> "referenceNumber": <input type="text" placeholder="3232" name="referenceNumber" [(ngModel)]="referenceNumber"></pre>         
            <pre>{{h}}</pre>         
          </div>
        </div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-danger" (click)="goCheckOut()">Enviar JSON </button>
    </div>
</div>
</div>